@import '../Core/_colors.scss';

.education {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, $primary-medium, $primary-light);
  color: $text-primary;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: $accent-highlight;
    margin-bottom: 9rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 3px;
      background-color: $accent-glow;
    }
  }

  .education-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    padding: 0;

    li {
      background: rgba($primary-dark, 0.3);
      border-radius: 15px;
      padding: 2.5rem; // Ökad padding här
      width: calc(50% - 1rem);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      h3 {
        font-size: 1.5rem;
        color: $accent-highlight;
        margin-bottom: 1rem; // Ökat mellanrum
      }

      .institution {
        font-weight: bold;
        color: $text-secondary;
        margin-bottom: 0.5rem; // Justerat mellanrum
      }

      .date {
        font-style: italic;
        color: $text-secondary;
        margin-bottom: 1.5rem; // Ökat mellanrum
      }

      .course-content {
        list-style-type: none;
        padding-left: 0;
        margin-top: 1.5rem; // Lagt till marginal ovanför listan

        li {
          position: relative;
          padding-left: 25px; // Ökat padding för att ge mer plats åt pilen
          padding-right: 0;
          padding-top: 0;
          padding-bottom: 0.75rem; // Lagt till padding under varje punkt
          margin-bottom: 0.5rem; // Minskat marginalen något
          width: 100%;
          background: none; // Ta bort bakgrunden för de inre li-elementen
          border-radius: 0; // Ta bort rundade hörn för de inre li-elementen

          &::before {
            content: '➤';
            position: absolute;
            left: 0;
            top: 0;
            color: $accent-glow;
          }

          &:last-child {
            margin-bottom: 0; // Ta bort margin på sista elementet
            padding-bottom: 0; // Ta bort padding på sista elementet
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .education {
    .education-list {
      li {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .education {
    padding: 3rem 1rem;

    h2 {
      font-size: 2rem;
    }

    .education-list {
      li {
        padding: 2rem; // Justerad padding för mindre skärmar

        h3 {
          font-size: 1.3rem;
        }

        .course-content {
          li {
            padding-left: 20px; // Minskat padding för mindre skärmar
          }
        }
      }
    }
  }
}